@mixin foot {
  height: 100px;
  width: calc(20% - 2.6px);
  background-color: chartreuse;
  float: left;
  border-top : solid 2px #333;
  border-bottom : solid 2px #333;
  border-right : solid 2px #333;
}
@mixin foot__text{
  text-align: center;
  font-size: 25px;
}
.header{
  height: 130px;
  width: 100%;
  background-image: url("/assets/bg_himawari_hatake_wide.jpg");
}
.subtitle{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: orangered;
}
.title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #DA8E00;
}
.middle{
  height: calc(100vh - 230px);
  width: calc(100% - 30px);
  background-color: brown;
  padding-left: 30px;
}
.footer__contents1{
  border-left : solid 3px #333;
  &__text{
  @include foot__text
         }
  &__input{
    text-align: right;
          }
  @include foot
}
input
{
 background-color: chartreuse;
 text-align: right;
}
.footer__contents2{
  &__text{
  @include foot__text
         }
  &__input{
  text-align: right;
          }
  @include foot
}
#height_box{
  text-align: right;
  font-weight: bold;
}
#weight_box{
  text-align: right;
  font-weight: bold;
}
#idealweight_box{
  text-align: right;
  font-weight: bold;
}
.footer__contents3{
  &__text{
  @include foot__text
         }
  &__input{
  text-align: right;
          }
  @include foot
}
.footer__contents4{
  &__text{
  @include foot__text
         }
  @include foot
 
}
.footer__contents5{
  &__text{
  @include foot__text
         }
  @include foot
}
#marigold,#kikyou,#tulip,#hyacinth,#amaryllis,#calla,#sandersonia,#ajisai,#whitelaceflower,#blue_bonnet,#geranium,#ayame,#tsubuwaki,#christmas_rose,#rindou,#syakunage,#shiroinunazuna,#katakuri,#seitaka_awadachisou,#nadeshiko,#anthurium,#rose_rainbow,#syakoba_saboten,#nemophila,#kalmia_karumia{
  display: none;
}



